<div *ngIf="pagePrincipal">
<table>
  <tr>
    <td><button (click)="case1()"> 1</button></td>
    <td><button (click)="case2()"> 2</button></td>
    <td><button (click)="case3()"> 3</button></td>
    <td><button (click)="case4()"> 4</button></td>
    <td><button (click)="case5()"> 5</button></td>
    <td><button (click)="case6()"> 6</button></td>
  </tr>
  <tr>
    <td><button (click)="case7()"> 7</button></td>
    <td><button (click)="case8()"> 8</button></td>
    <td><button (click)="case9()"> 9</button></td>
    <td><button (click)="case10()"> 10</button></td>
    <td><button (click)="case11()"> 11</button></td>
    <td><button (click)="case12()"> 12</button></td>
  </tr>
  <tr>
    <td><button (click)="case13()"> 13</button></td>
    <td><button (click)="case14()"> 14</button></td>
    <td><button (click)="case15()"> 15</button></td>
    <td><button (click)="case16()"> 16</button></td>
    <td><button (click)="case17()"> 17</button></td>
    <td><button (click)="case18()"> 18</button></td>
  </tr>
  <tr>
    <td><button (click)="case19()"> 19</button></td>
    <td><button (click)="case20()"> 20</button></td>
    <td><button (click)="case21()"> 21</button></td>
    <td><button (click)="case22()"> 22</button></td>
    <td><button (click)="case23()"> 23</button></td>
    <td><button (click)="case24()"> 24</button></td>
  </tr>
</table>
</div>

<app-jour-1 *ngIf="pageUn"></app-jour-1>
<app-jour-2 *ngIf="pageDeux"></app-jour-2>
<app-jour-3 *ngIf="pageTrois"></app-jour-3>
<app-jour-4 *ngIf="pageQuatre"></app-jour-4>
<app-jour-5 *ngIf="pageCinq"></app-jour-5>
<app-jour-6 *ngIf="pageSix"></app-jour-6>
<app-jour-7 *ngIf="pageSept"></app-jour-7>
<app-jour-8 *ngIf="pageHuit"></app-jour-8>
<app-jour-9 *ngIf="pageNeuf"></app-jour-9>
<app-jour-10 *ngIf="pageDix"></app-jour-10>
<app-jour-11 *ngIf="pageOnze"></app-jour-11>
<app-jour-12 *ngIf="pageDouze"></app-jour-12>
<app-jour-13 *ngIf="pageTreize"></app-jour-13>
<app-jour-14 *ngIf="pageQuatorze"></app-jour-14>
<app-jour-15 *ngIf="pageQuinze"></app-jour-15>
<app-jour-16 *ngIf="pageSeize"></app-jour-16>
<app-jour-17 *ngIf="pageDixSept"></app-jour-17>
<app-jour-18 *ngIf="pageDixHuit"></app-jour-18>
<app-jour-19 *ngIf="pageDixNeuf"></app-jour-19>
<app-jour-20 *ngIf="pageVingt"></app-jour-20>
<app-jour-21 *ngIf="pageVingtUn"></app-jour-21>
<app-jour-22 *ngIf="pageVingtDeux"></app-jour-22>
<app-jour-23 *ngIf="pageVingtTrois"></app-jour-23>
<app-jour-24 *ngIf="pageVingtQuatre"></app-jour-24>
